# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/HW1/PR1_2/nbproject/private/
/HW1/PR1_2/build/
/HW1/PR1_2/dist/
/HW1/PR1_6/dist/
/HW1/PR1_5/dist/
/HW1/PR1_3/nbproject/private/
/HW1/PR1_3/build/
/HW1/PR1_3/dist/
/HW2/PR2_1/nbproject/private/
/HW2/PR2_1/build/
/HW2/PR2_2/nbproject/private/
/HW2/PR2_2/build/
/HW2/AmazingRace/nbproject/private/
/HW2/AmazingRace/build/
/HW2/Swing/nbproject/private/
/HW2/Swing/build/
/HW2/PR2_3/nbproject/private/
/HW2/PR2_3/build/
/HW2/PR2_1/dist/
/HW2/PR2_5/nbproject/private/
/HW2/PR2_5/build/
/HW2/PR2_6/nbproject/private/
/HW2/PR2_6/build/
/HW2/PR2_2/dist/
/HW2/PR2_7/nbproject/private/
/HW2/PR2_7/build/